.card {
  box-shadow: 0 4px 4px 0 rgba(236, 236, 236, 1);
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 8vw;
}
body{
    background-color: rgba(46, 49, 49, 1);
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
